<% include ./partials/top %>

<main>
  <div class="box-auth text-center">
    
    <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>

    <form action="/<%= currentUser.username %>/change_password" method="POST" class="form-auth">
      <div class="form-group">
        <label for="password" class="sr-only">New password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Enter new password" autofocus>
      </div>
      
      <div class="form-group">
        <label for="password2" class="sr-only">Repeat password</label>
        <input type="password" id="password2" class="form-control" name="password2" placeholder="Repeat password">
      </div>

      <button class="btn btn-lg btn-secondary btn-block">Change it!</button>
      <a class="btn btn-lg btn-outline-danger btn-block" href="/<%= currentUser.username %>">Cancel</a>
    </form>
    
  </div>
</main>

<% include ./partials/bottom %>