<% include ./partials/top %>

<main>
  <div class="cover"></div>
  <div class="cover-box text-center text-white">
    <h1>Home for your wishes</h1>
    <p class="lead">WishNet is a social platform designed for your wishes. Save your wishes and share them with your friends!</p>
    <p>
      <a href="/signup" class="btn btn-lg btn-light">Sign Up</a>
      <a href="/login" class="btn btn-lg btn-light">Log In</a>
    </p>
  </div>
</main>

<% include ./partials/bottom %>