<% include ./partials/top %>

<h1>Log In!</h1>

<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Enter email">
  <input type="password" name="password" placeholder="Enter password">
  <button>Log In!</button>
</form>

<% include ./partials/bottom %>