<% include ./partials/top %>

<h1><%= user.username %> profile</h1>

<p>Email: <%= user.email %></p>
<p>Registered: <%= user.date.toLocaleDateString() %></p>

<a href="/<%= user.username %>/wishes">View All Wishes</a>

<% include ./partials/bottom %>