<% include ./partials/top %>

<main>
  <div class="cover-color"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 mt-5 mb-3"><%= user.username %></h1>

        <p class="lead">Email: <%= user.email %></p>
        <p class="lead">Registered: <%= user.date.toLocaleDateString() %></p>

        <a class="btn btn-lg btn-secondary" href="/<%= user.username %>/wishes">View All Wishes</a>
      </div>
    </div>
  </div>
</main>

<% include ./partials/bottom %>