<% include ../partials/top %>

<h1>Make a Wish</h1>

<form action="/<%= user.username %>/wishes" method="POST">
  <input type="text" name="wish[name]" placeholder="What do you wish?">
  <input type="number" name="wish[price]" placeholder="Enter price" min="0.01" step="0.01">
  <input type="text" name="wish[image]" placeholder="Enter image URL">
  <input type="text" name="wish[link]" placeholder="Enter link to wish">
  <input type="text" name="wish[description]" = placeholder="Enter description">
  <button>I wish this!</button>
</form>

<% include ../partials/bottom %>